<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">币安事件合约交易信号机器人</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="切换导航菜单">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">回测系统</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/live">实时监控</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/optimization">策略优化</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/model_prediction">模型预测</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autox">AutoX 管理</a>
                </li>
            </ul>
        </div>
    </div>
</nav>